<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BikeStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BikeStore</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Orders</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="OrderItems" asp-action="Index">OrderItems</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>

                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="p-2" style="width=100%">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="d-flex justify-content-center">
            <p>
                &copy; 2024 - BikeStore - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </div>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const allFormOderBy = document.querySelectorAll(".formOderBy");
            const FirstFormSearch = document.getElementById("formSearch");

            if (allFormOderBy && FirstFormSearch) {
                function sendFormOderBy(event) {
                    event.preventDefault();
                    const form = event.target;
                    const clickedButton = event.submitter;
                    const ColunOrd = form.querySelector('input[type="hidden"]');
                    const ordenamiento = clickedButton.getAttribute('data-orden');
                    if (ColunOrd) {
                        FirstFormSearch.appendChild(ColunOrd);
                        const inputOrdenamiento = document.createElement("input");
                        inputOrdenamiento.type = "hidden";
                        inputOrdenamiento.name = "ordenamiento";
                        inputOrdenamiento.value = ordenamiento;
                        FirstFormSearch.appendChild(inputOrdenamiento);

                        console.log(FirstFormSearch);
                        FirstFormSearch.submit();
                    }
                }

                function sendFormSearch(event) {
                    console.log('sendFormSearch');
                    event.preventDefault();

                    const urlCompleta = window.location.href;

                    const parametros = window.location.search;

                    const params = new URLSearchParams(parametros);

                    const ordenamiento = params.get("ordenamiento");
                    const ColunOrd = params.get("ColunOrd");

                    console.log("Ordenamiento:", ordenamiento);
                    console.log("Columna de ordenamiento:", ColunOrd);

                    if (ordenamiento && ColunOrd) {
                        // Creamos los campos ocultos y los agregamos al formulario de búsqueda
                        const inputOrdenamiento = document.createElement("input");
                        inputOrdenamiento.type = "hidden";
                        inputOrdenamiento.name = "ordenamiento";
                        inputOrdenamiento.value = ordenamiento;

                        const inputColunOrd = document.createElement("input");
                        inputColunOrd.type = "hidden";
                        inputColunOrd.name = "ColunOrd";
                        inputColunOrd.value = ColunOrd;

                        FirstFormSearch.appendChild(inputOrdenamiento);
                        FirstFormSearch.appendChild(inputColunOrd);

                        FirstFormSearch.submit(); // Envía el formulario de búsqueda
                    }
                }

                allFormOderBy.forEach(form => {
                    form.addEventListener('submit', sendFormOderBy);
                });
                FirstFormSearch.addEventListener('submit', sendFormSearch);
            }

        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
