<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BikeStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BikeStore.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="/image/logo.png" class="rounded" style="max-height:50px;" alt="Logo" />
                </a>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <div class="flex-grow-1">
                        <ul class="navbar-nav d-flex justify-content-center">

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Customers" asp-action="Index">Clientes</a>
                            </li>

                            <li class="nav-item dropdown" style="color:black!important;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Pedidos
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Pedidos</a></li>
                                    <li><a class="nav-link text-dark" asp-area="" asp-controller="OrderItems" asp-action="Index">Detalles</a></li>

                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Productos</a>
                            </li>
                        </ul>
                    </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="p-2" style="width=100%">
            @RenderBody()
        </main>
    </div>
    
    <footer class="border-top footer text-muted no-print">
        <div style="width: 100%; text-align: center;">
            <p>
                &copy; 2024 - BikeStore - <a href="/Home/Privacy">Privacidad</a>
            </p>
        </div>
    </footer>
    
        
  
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const allFormOderBy = document.querySelectorAll(".formOderBy");
            const FirstFormSearch = document.getElementById("formSearch");

            if (allFormOderBy && FirstFormSearch) {
                function sendFormOderBy(event) {
                    event.preventDefault();
                    const form = event.target;
                    const clickedButton = event.submitter;
                    const ColunOrd = form.querySelector('input[type="hidden"]');
                    const ordenamiento = clickedButton.getAttribute('data-orden');
                    if (ColunOrd) {
                        FirstFormSearch.appendChild(ColunOrd);
                        const inputOrdenamiento = document.createElement("input");
                        inputOrdenamiento.type = "hidden";
                        inputOrdenamiento.name = "ordenamiento";
                        inputOrdenamiento.value = ordenamiento;
                        const url = new URL(window.location.href);
                        FirstFormSearch.appendChild(inputOrdenamiento);
                        FirstFormSearch.submit();
                    }
                }

                function sendFormSearch(event) {
                    event.preventDefault();

                    const urlCompleta = window.location.href;

                    const parametros = window.location.search;

                    const params = new URLSearchParams(parametros);

                    const ordenamiento = params.get("ordenamiento");
                    const ColunOrd = params.get("ColunOrd");

                    if (ordenamiento && ColunOrd) {
                        const inputOrdenamiento = document.createElement("input");
                        inputOrdenamiento.type = "hidden";
                        inputOrdenamiento.name = "ordenamiento";
                        inputOrdenamiento.value = ordenamiento;

                        const inputColunOrd = document.createElement("input");
                        inputColunOrd.type = "hidden";
                        inputColunOrd.name = "ColunOrd";
                        inputColunOrd.value = ColunOrd;

                        FirstFormSearch.appendChild(inputOrdenamiento);
                        FirstFormSearch.appendChild(inputColunOrd);

                    }
                    FirstFormSearch.submit();
                }

                allFormOderBy.forEach(form => {
                    form.addEventListener('submit', sendFormOderBy);
                });
                FirstFormSearch.addEventListener('submit', sendFormSearch);
            }

        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
