@model string

<div class="form-group col-12 mt-3 d-flex justify-content-end">
    <div class="btn-group">
        <input type="submit" value="@Model" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Volver a Lista</a>
    </div>
</div>
